.delivery-table {
  width: 600px;
  border: 1px;
}

.center {
  text-align: center;
  vertical-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.img {
  width: 300px;
  height: 300px;
}
